@model IEnumerable<QuanLyShop.Models.EF.Order>
@if (Model != null)
{
    var i = 1;
    <h2>Lịch sử mua hàng</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <td>STT</td>
                <td>Mã DH</td>
                <td>Ngày Tạo</td>
                <td>Tổng tiền</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@i</td>
                    <td>@item.Code</td>
                    <td>@item.CreatedDate</td>
                    <td>@item.TotalAmount</td>
                </tr>
                i++;
            }
        </tbody>
    </table>
}