@using Microsoft.AspNetCore.Identity
@model IEnumerable<IdentityRole>

@{
    ViewBag.Title = "Danh sách Quyền";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Danh sách Quyền</h3>

            <div class="card-tools">
                <a href="/admin/role/create" class="btn btn-success">Thêm mới</a>
            </div>
        </div>
        <div class="card-body">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Tên</th>
                        <th>Thao tác</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Any())
                    {
                        var i = 1;
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>@i</td>
                                <td>@item.Name</td>
                                <td>
                                    <a href="/admin/role/edit/@item.Id" class="btn btn-primary">Sửa</a>
                                    @* <a href="/admin/role/delete/@item.Id" class="btn btn-danger">Xóa</a> *@
                                    <form asp-action="Delete" asp-route-id="@item.Id" method="post" style="display:inline;">
                                        <button type="submit" class="btn btn-danger"
                                                onclick="return confirm('Bạn có chắc muốn xóa quyền này không?');">
                                            Xóa
                                        </button>
                                    </form>
                                </td>
                            </tr>
                            i++;
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="3" class="text-center">Không có dữ liệu</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <!-- /.card-body -->
        <div class="card-footer">
        </div>
        <!-- /.card-footer-->
    </div>
    <!-- /.card -->

</section>
<!-- /.content -->
